.cart-item {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 20px;
    width: 750px;
}

.cart-item-img {
    width: 110px;
    height: 110px;
    background-color: #6b5b5b;
    flex-shrink: 0;
}