.navBar {
  background-color: #282c34;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navBar .logo {
  font-size: 1.25rem;
  font-weight: bold;
}

.navBar nav a {
  color: inherit;
  text-